.article-head {
    background-color: green;
    color: white;
    padding: 12px 20px;
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.title-cntnr {
    display: flex;
    justify-content: center;
}

.user-prof {
    border-radius: 50%;
}