.plannedHikeContainer {
    background-color: brown;
    padding:10px
}
.hikePlannerContainer {
    display: flex;
    gap: 10px;
    padding: 1rem;
    background-color: white;
    width: 600px;
    /* justify-content: space-between; */
}

.hikePlannerContainer > div {
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px 16px;
}

h3 {
    
}

.kevin {
    color:rgb(235, 231, 4)
}