.plannedHikeContainer {
    background-color: brown;
    padding:10px
}

.hikePlannerContainer {
    display: flex;
    gap: 10px;
    padding: 1rem;
    background-color: white;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.hikePlannerContainer > div {
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px 16px;
}

button {
    padding: 12px 16px;
}

.hikePlannerImage {
    border-radius: 50%;
    width: 100px
}

.viewHikeButton {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    color:white;
}

.viewHikeButton:hover {
    background-color: lightgreen;
}
.viewHikeButton:active {
    background-color: darkgreen;
}

.hikerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

