.plannedHikeContainer {
    background-color: #b6ad90;
    padding:10px
}

.plannedHikeContainer h2 {
    color: #333d29
}

.hikePlannerContainer {
    display: flex;
    gap: 10px;
    padding: 1rem;
    background-color: #6c876f;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.hikePlannerContainer > div {
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px 16px;
}

.hikePlannerImage {
    border-radius: 50%;
    width: 100px
}

.viewHikeButton {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    color:white;
}

.viewHikeButton:hover {
    background-color: lightgreen;
}
.viewHikeButton:active {
    background-color: darkgreen;
}

#hikeInfo {
    display: flex;
    flex-direction: row;
}

.hikerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 992px) {

    .plannedHikeContainer {
        /* background-color: brown; */
        padding:10px;
        width: 375px
    }

    .hikePlannerContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
        /* background-color: #c2c5aa; */
        align-items: center;
        width: auto;
    }
}