@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

.profile-page{
	display: flex;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
}