/* *{
    background: green;
}

.about{
    background-color: brown;
    color: white;
    display: flex;
    width: 350px;
    height: 400px;
}

.button{
    display: flex;
    flex-direction: column;
} */