.main{

    display: flex;
    justify-content: space-between;
}

.left{
    padding: 2rem;
    padding-top: 1.5rem;
}

/* Attempting to make home responsive */

@media screen and (max-width: 768px){
    main{
        flex-direction: column;
        
    }
}
