@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
    margin:0px;
    padding: 0px;
    background-color: #ffffff;
    font-family:'Bebas Neue', 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 220px;
    height: 100px;
    margin-left: -200px;
}

/* Editing the home page */

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(1, 84, 16, 0.157);
	background-color: #00643c;
}
nav ul{
	display: flex;
}
nav ul li a{
    font-family: 'Bebas Neue';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#f7792b;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
nav ul li a:hover{
	background-color: #ff7c0a;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(250, 155, 3, 0.336);
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}


.a-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.a-box{
    background-color: #06cb27;
    width:300px;
    height: 435px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}

.a-b-img{
    width: 100%;
    height: 60%;

}
.a-b-img img{
    padding: 5px;
    margin-top: 5px;
    width:100%;
    height: 100%;

}
.a-box:hover{
    background-color: #016104;
    box-shadow: 2px 2px 12px rgba(2, 249, 31, 0.445);
}

.a-b-text:hover{
    background-color: #016104;
    box-shadow: 2px 2px 12px rgba(0, 184, 21, 0.445);
}

.a-b-text{
    width: 100%;
    height: 40%;
    background-color: #06cb27;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.a-b-text h2{
    color: #fbfcfb;
}

#about{
    margin-top:100px ;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
    position: relative;
    box-shadow: 5px 10px 30px rgba(1, 78, 16, 0.336);
}

.about-text{
    width: 45%;
    color: #fff;
    text-align: left;
    
}
.about-text h1{
	font-size: 3.5rem;
	color:#03a24d;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'Alfa Slab One';
}
.about-text p{
    font-family:'Bebas Neue';
    letter-spacing: 1px;
    color: #252525;
    font-size: 1.2rem;
	
}
.about-text button{
    margin-top: 20px;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family:'Lato';
    background-color: #27bf22;
    box-shadow: 5px 10px 30px rgba(2, 255, 53, 0.336);
    border-radius: 5px;
	color:#ffffff;
}
.about-text button:hover{
    background-color: transparent;
    transition: all ease 0.5s;
    color: #22bf3c;
    border: 2px solid #22bf3c;
}
.about-image{
    width: 50%;
}
.about-image img{
  width: 600px;
}

/* .menu{
    background: white;
    opacity: 0.5;
    border: 3px solid orange;
} */


@media(max-width:620px){
    #contact form{
        width:90%;
    }
}

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.header-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .header-heading h2{
        font-size: 1.5rem;
    }
    .header-heading h1{
        font-size: 3rem;
    }
    .header-heading .details{
        font-size: 1rem;
    }
    .pr-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .pr-heading h2{
        font-size: 1.5rem;
    }
    .pr-heading h1{
        font-size: 3rem;
    }
    .pr-heading .details{
        font-size: 1rem;
    }
	.about-image img{
		height:400px;
    }
    #products{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    .a-b-img img{
		object-fit:contain;
    }

}

.about-section{
    padding-top: 900px;
}



.trying{
    margin-top: auto;
}

@media(max-width:970px){
	#main{
		height: 650px;
	}
	.header-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .pr-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-image{
        display:none;
    }
    .header-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
    .pr-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
	#about{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        
        margin-top: 0px;
	}
	.about-text{
        width: 90%;
        text-align: center;
	}
	.about-text h1{
		font-size:3rem;
    }
    .about-text p{
        width: 100%;
    }
    .about-text button {
        margin-left: 30%;
    }
    #products{
        margin-bottom: 100px;
    }
}
@media(max-width:600px){
	.header-heading{
		width:60%;
    }
    .pr-heading{
		width:60%;
    }
}

@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .logo img{
            width:120px;
        }
        .header-btns{
            margin: 0;
        }
        .pr-btns{
            margin: 0;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#ffffff;
            border-bottom:4px solid #14ff4f;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#0ace31;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:24px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:6px;
            background-color: #04cc43;
        }
        nav .menu-icon .nav-icon:after{
            top:-6px;
            background-color: #04b018;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
            background-color: #05a746;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
            background-color: #06c633;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }}
        @media(max-width:400px){
            .a-box{
                width: 100%;
                height:400px;
            }
        }

